<div class="calendar-flex-container">
  <div class="calendar-container">
    <div class="month">
      <ul>
        <button class="prev" (click)="previousMonth()">&#10094;</button>
        <button class="next" (click)="nextMonth()">&#10095;</button>
        <li>{{ month }}<br><span style="font-size:18px">{{ year }}</span></li>
      </ul>
    </div>
    <ul class="weekdays">
      <li>Mo</li>
      <li>Tu</li>
      <li>We</li>
      <li>Th</li>
      <li>Fr</li>
      <li>Sa</li>
      <li>Su</li>
    </ul>
    <ul class="days">
      <li *ngFor="let day of days" (click)="selectDate(day)" [ngClass]="{'current': day.toString() === currentDate.toString()}" [routerLinkActive]="'active'"
          [routerLink]="['/calendar', day.getFullYear(), day.getMonth()+1, day.getDate(), day]">{{ day | date:'dd'}}</li>
    </ul>  
  </div>
  <div class="day-container">
    <router-outlet></router-outlet>
  </div>
</div>