ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Highlight the "selected" day */
.active {
  background: #1abc9c;
  color: white !important
}

/* Highlight the "current" day */
.current {
  background: rgb(151, 26, 26);
  color: white !important
}

.custom-bg {
  background-color: #989898;
}

.calendar-buttons-container {
  padding-left: 0%;
  padding-right: 0%;
}

.full-cell-button {
  height: 100%;
}

.weekday-color {
  background-color: #a7a49f;
  color: black;
  text-align: center;
}

.custom-padding {
  padding-left: 2%;
  padding-right: 2%;
}
